:root {
    --primario: #2C3E50;   /* azul profundo */
    --gris: #bdc3c7;
    --blanco: #ffffff;
    --negro: #000000;

    --error: #e74c3c;
    --exito: #2ecc71;
    --info: #3498db;
    --warning: #f1c40f;

    --degradadoP: #263b4f;

    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
}



html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6.rem;
    line-height: 2;
}

/** Globales **/
.contenedor {
    /*max-width: 120rem;*/
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3 , h4 {
    font-family: var(--fuenteHeading);
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
p {
    font-size: 1.8rem;
}
a {
    font-size: 1.8rem;
}
ul, ul li {
    font-size: 1.8rem;
}
img {
    max-width: 100%;
}
/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

/* === HEADER === */


.header {
    background-color: var(--primario);
    color: var(--blanco);
    padding: 4rem 0 2rem 0;
    border-bottom: 4px solid var(--gris);
}

.header__texto {
    text-align: center;
    margin-top: 2rem;
}

.header__texto h2 {
    font-size: 3.6rem;
    color: var(--blanco);
}

/* === BARRA DE NAVEGACIÓN === */
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* === LOGO === */
.logo__nombre {
    font-size: 3.2rem;
    color: var(--blanco);
}

.logo__bold {
    font-weight: 700;
    color: var(--warning); /* amarillo para resaltar */
}

/* === NAVEGACIÓN === */
.navegacion {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.navegacion__enlace {
    color: var(--blanco);
    font-weight: bold;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navegacion__enlace:hover {
    color: var(--warning);
    transform: scale(1.05);
}


/* === LOGIN === */
.login {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: row; 
}

.login p {
  color: var(--blanco);
  font-weight: bold;
  margin: 0;
  font-size: 1.6rem;
}

/* Link con el ícono */
.login__link {
  color: var(--blanco);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.login__link:hover {
  color: var(--warning);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .login {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
}


/* === MAIN === */

.layout {
    background-color: var(--primario);
}

.sidebar {
    padding: 3rem 4rem;
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sidebar__link {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--blanco);
    font-weight: bold;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding-left: 1rem;
}

.sidebar__link:hover {
    color: var(--warning);
    transform: scale(1.05);
}

main {
    padding: 2rem 2rem;
    background-color: var(--blanco);
}

@media (min-width: 768px)  {
    .layout {
        display: grid;
        grid-template-columns: 1fr 4fr;
        column-gap: 3rem;
        grid-auto-flow: column;
    }

    aside {
        grid-column: 1 / 2;
    }

    .activo {
        background-color: var(--degradadoP);
        border-left: 4px solid var(--warning);
    }

}

@media (max-width: 768px) {
    .sidebar__nav {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    
}


/* === FOOTER === */
.footer {
    background-color: #222;
    color: var(--blanco);
    padding: 3rem 0;
    margin-top: 0rem;
}

.footer .logo__nombre {
    color: var(--blanco);
}

.footer .navegacion__enlace {
    color: var(--gris);
    transition: color 0.3s ease;
}

.footer .navegacion__enlace:hover {
    color: var(--info);
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
    .barra {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .navegacion {
        flex-direction: column;
        gap: 1rem;
    }

    .logo__nombre {
        font-size: 2.8rem;
    }
}